In [32]:
import pandas as pd
import numpy as np
ff = pd.read_csv("/home/jupyter-mrk101/finalproject/fastfoodset.csv")
ff.head(10)

,Name,Legal Name,Start Date,Street Number,Street Name,ZIP Code,Lat,Lon,Category
0,Adrian's Pizza,NaN,11/7/2014,605,Thompson Run Rd,15237,40.539465,-79.990764,Take Out
1,Adrian's Pizza Express,Rock Enterprises Inc,4/22/2004,7824,Perry Hwy,15237,40.551219,-80.037362,Take Out
2,Allegheny Sandwich Shop,NaN,2/24/1997,414,Grant St,15219,40.438110,-79.996860,NO Dollar Menu
3,Allegheny Sandwich Shoppe #3,Allegheny Sandwich Shoppe Inc,11/9/2001,440,Ross St,15219,40.438514,-79.995330,NO Dollar Menu
4,Amili's Pizzeria,NaN,2/26/1999,1021,Brownsville Rd,15210,40.406082,-79.991863,Take Out
5,Angelia's Pizza,JNG Pizza LLC,5/11/2004,202,Moon Clinton Rd,15108,40.513135,-80.223406,Take Out
6,Angelia's Pizza / Chill Frozen Dessserts,Eaton Pizza Inc,10/7/2005,410,Penn Lincoln Dr,15126,40.442466,-80.235992,Take Out
7,Antney's Ice Cream,The Iceman Inc,4/11/2002,1316,Poplar St,15205,40.427470,-80.052435,"Breakfast, Drink, Other"
8,Arby's,Kinco Inc,1/1/1975,1617,Freeport Rd,15065,40.622125,-79.727516,Dollar Menu
9,Arby's #8,Linell Corporation,12/3/2007,3974,Wm Penn Hwy,15146,40.437988,-79.772845,Dollar Menu

In [26]:
query= ff['Category'] == "Take Out"
query.head()

0     True
1     True
2    False
3    False
4     True
Name: Category, dtype: bool

In [27]:
takeout= ff[query]
takeout.head(10)

,Name,Legal Name,Start Date,Street Number,Street Name,ZIP Code,Lat,Lon,Category
0,Adrian's Pizza,NaN,11/7/2014,605,Thompson Run Rd,15237,40.539465,-79.990764,Take Out
1,Adrian's Pizza Express,Rock Enterprises Inc,4/22/2004,7824,Perry Hwy,15237,40.551219,-80.037362,Take Out
4,Amili's Pizzeria,NaN,2/26/1999,1021,Brownsville Rd,15210,40.406082,-79.991863,Take Out
5,Angelia's Pizza,JNG Pizza LLC,5/11/2004,202,Moon Clinton Rd,15108,40.513135,-80.223406,Take Out
6,Angelia's Pizza / Chill Frozen Dessserts,Eaton Pizza Inc,10/7/2005,410,Penn Lincoln Dr,15126,40.442466,-80.235992,Take Out
43,Big Kmart - Little Caesars #9438,Kmart Corp,9/15/2000,720,Clairton Blvd,15236,40.326728,-79.945687,Take Out
44,Big Shot Bob's,NaN,10/24/2007,344,Union Ave,15202,40.503691,-80.061846,Take Out
45,Big Shot Bob's House of Wings,Big Shot Bob's House of Wings Inc,11/10/2010,1534,5th Ave,15108,40.513421,-80.154136,Take Out
46,Big Shot Bob's Sandwich Shop,NaN,11/24/2015,1006,Washington Ave,15106,40.398829,-80.082950,Take Out
47,Bishop's Pizza,NaN,9/26/2001,428,Lebanon Rd,15122,40.370434,-79.928168,Take Out

In [51]:
freqchart=takeout["ZIP Code"]
freq=freqchart.value_counts().max()
display(freqchart.mode())

freqchart2=takeout["ZIP Code"].value_counts().sort_values(ascending=False)
freqchart2.head(25)

0    15146
dtype: int64

15146    15
15222    10
15205     9
15213     9
15237     8
15236     8
15227     7
15235     7
15203     6
15101     6
15108     6
15102     6
15216     5
15017     5
15106     5
15217     5
15120     5
15210     5
15122     5
15202     5
15221     4
15234     4
15084     4
15131     4
15136     4
Name: ZIP Code, dtype: int64